{% extends 'User/base.html' %}

{% block style %}

{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('home') }}">HOME</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('promotion') }}">PROMOTIONS</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ promo.get_title() }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <img src="{{ url_for('static', filename='images/promotion/' + promo.get_promotion_image()) }}" alt="" width="100%">
        </div>
        <div class="col-7">
            <h2>{{ promo.get_title() }}</h2>        
            <h3>Description</h3>
            {{ promo.get_description() }}                       
            <h3>Valid Period</h3>
            {{ promo.get_valid_period() }}

            <h3>Terms and Conditions</h3>
            <ul>
                {% for condition in promo.get_terms_and_conditions() %}
                    <li>{{ condition }}</li>
                <!-- <li>Not valid with other offers, privileges, promotions or voucher redemptions.</li>
                <li>Not valid for group/corporate bookings.</li>
                <li>Not exchangeable or refundable for cash, products or other services.</li>
                <li>In the event of any dispute, the decision of Saw Cinematics is final. No correspondence will be entertained.</li>
                <li>Saw Cinematics reserves the right to terminate, suspend or cancel (in whole or in part) this promotion.</li>
                <li>Saw Cinematics reserves the right to amend these terms and conditions of the promotion from time to time without prior notice and without any liability.</li> -->
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}