{% extends 'base.html' %}

{% block styles %}

{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('home') }}">HOME</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('promotion') }}">PROMOTIONS</a></li>
                    <li class="breadcrumb-item active" aria-current="page">STUDENT PROMOS</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <img src="{{ url_for('static', filename='images/promotions_student.jpg') }}" alt="" width="100%">
        </div>
        <div class="col-7">
            <h2>STUDENT PRIVILEGES</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <td>$6</td>
                        <td>Tue, Thurs</td>
                        <td>At all SAW Theatre</td>
                    </tr>
                    <tr>
                        <td>$7</td>
                        <td>Mon, Wed, Fri</td>
                        <td>At all SAW Theatre</td>
                    </tr>
                </tbody>
            </table>
            <p>Terms and Conditions</p>
            <ul>
                <li>This promotion is open to all Primary, Secondary & Tertiary students in Singapore</li>
                <li>Original student ID must be presented for an identification check at usher point</li>
                <li>Original student ID must be presented prior to purchase of ticket at the Box Office of the cineplex that you're watching at.</li>
                <li>Not valid on eve of Public Holiday and on Public Holiday.</li>
                <li>All information stipulated is correct at the time of print/post and is subject to change without prior notice.</li>
                <li>The Management reserves the right to amend the ticket prices and the terms of this promotion without prior notice.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}