{% extends "Admin/baseAdmin.html" %}

{% block styles %}
{% endblock %}

<!-- Content Wrapper. Contains page content -->
{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Modify Showtime</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ url_for('other.admin_home') }}">Home</a></li>
            <li class="breadcrumb-item">Showtime</li>
            <li class="breadcrumb-item active">Modify Showtime</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  
  <section class="content-header">
    <div class="container-fluid">
      <form action="{{url_for('showtime.showtime')}}" method="GET">
        <button class="btn btn-primary" type="submit" style="float: right; clear: both;">Cancel</button>
      </form>
      <div class="row">
        <div class="col-10">
        <form method="POST" enctype="multipart/form-data">
          {{ form.csrf_token }}
          <div class="form-group">
            {{ form.theatre_name.label(class="form-control-label") }}
            {{ render_field(form.theatre_name, class="form-control form-control-lg", onchange="check_hall_number()") }}
          </div>
          <div class="form-group">
            {{ form.movie_title.label(class="form-control-label") }}
            {{ render_field(form.movie_title, class="form-control form-control-lg", onchange="check_hall_number()") }}
          </div>
          <div class="form-group">
              {{ form.timeslot.label(class="form-control-label") }}
              {{ render_field(form.timeslot, multiple=True, onchange="check_hall_number()") }}
          </div>
          <div class="form-row">
            <div class="form-group col">
              {{ form.showtime_start_date.label(class="form-control-label") }}
              {{ render_field(form.showtime_start_date, class="form-control form-control-lg", type="date", required=False, onchange="check_hall_number()") }}
            </div>
            <div class="form-group col">
              {{ form.showtime_end_date.label(class="form-control-label") }}
              {{ render_field(form.showtime_end_date, class="form-control form-control-lg", type="date", required=False, onchange="check_hall_number()") }}
            </div>
          </div>
          <div class="form-group">
            {{ form.hall_number.label(class="form-control-label") }}
            {{ render_field(form.hall_number, class="form-control form-control-lg", required=False) }}
          </div>
          {{ form.submit(class="btn btn-primary", onclick='confirm("Do you want to proceed to save the change(s) ?")') }}
        </form>
      </div>
      </div>
    </div>
  </section>


  <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
  </a>
</div>
{% endblock %}
<!-- /.content-wrapper -->

{% block scripts %}
<script>
  setTimeout(function() {
    new SlimSelect({
      select: '#timeslot'
    })
  }, 700)

</script>
{% endblock %}