{% extends "Admin/baseAdmin.html" %}

{% block styles %}
{% endblock %}

<!-- Content Wrapper. Contains page content -->
{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Add Movie</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ url_for('admin_home') }}">Home</a></li>
            <li class="breadcrumb-item">Movies</li>
            <li class="breadcrumb-item active">Add Movie</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10">
        <form method="POST" enctype="multipart/form-data">
          {{ form.csrf_token }}
          <div class="form-group">
            {{ form.movie_name.label(class="form-control-label") }}
            {{ form.movie_name(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.movie_poster.label(class="form-control-label") }}
            {{ form.movie_poster(class="form-control-file") }}
          </div>
          <div class="form-group">
            {{ form.movie_description.label(class="form-control-label") }}
            {{ form.movie_description(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.movie_genre.label(class="form-control-label") }}
            {{ form.movie_genre(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.movie_casts.label(class="form-control-label") }}
            {{ form.movie_casts(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.movie_director.label(class="form-control-label") }}
            {{ form.movie_director(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.movie_trailer.label(class="form-control-label") }}
            {{ form.movie_trailer(class="form-control-file") }}
          </div>
          <div class="form-group">
            {{ form.movie_duration.label(class="form-control-label") }}
            {{ form.movie_duration(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.movie_release_date.label(class="form-control-label") }}
            {{ form.movie_release_date(class="form-control form-control-lg", type="date") }}
          </div>
          <div class="form-group">
            {{ form.movie_language.label(class="form-control-label") }}
            {{ form.movie_language(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.movie_subtitles.label(class="form-control-label") }}
            {{ form.movie_subtitles(class="form-control form-control-lg") }}
          </div>
          {{ form.submit(class="btn btn-primary") }}
        </form>
      </div>
      </div>
    </div>
  </section>


  <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
  </a>
</div>
{% endblock %}
<!-- /.content-wrapper -->

{% block scripts %}

{% endblock %}