{% extends "Admin/baseAdmin.html" %}
{% block styles %}
    <style>
      a {
        color:white;
      }
      a:hover{
        color:white;
      }
    </style>
  {% endblock %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-width: 1500px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Movies</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ url_for('admin_home') }}">Home</a></li>
              <li class="breadcrumb-item active">Movies</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          
          <div class="ml-auto">            
            <button type="button" class="btn btn-success">
              <a href="{{ url_for('add_movie') }}">Add Movies</a>              
            </button>
            <button type="submit" class="btn btn-danger"onclick="delete_movie()">Delete</button>
          </div>
        </div>
        <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                  <td>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input">                    
                      </div>
                    </td>
                <th scope="col">No.</th>  
                <th scope="col">Movie Name</th>
                <th scope="col">Poster</th>
                <th scope="col">Description</th>
                <th scope="col">Genre</th>
                <th scope="col">Casts</th>
                <th scope="col">Trailer</th>                
                <th scope="col">Duration</th>
                <th scope="col">Release Date</th>
                <th scope="col">Language</th>
                <th scope="col">Subtitles</th>                
                <th scope="col">Director</th>
                <th scope="col">Modify</th>
              </tr>
            </thead>
            <tbody>
              {% for key in Movies_dict %}              
                <tr>
                  <td>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="{{ Movies_dict[key].get_id() }}">
                      </div>
                    </td>
                    <td>
                      {{ Movies_dict[key].get_id() }}
                    </td>
                    <td>
                      {{ Movies_dict[key].get_movie_title() }}
                    </td>
            <!-- <td><img src="http://macrobertartscentre.org/docs/095_438__jokerlandscape_1570462515_standard.jpg" alt="cinema" height="90" width="150"></td> -->
                    <td>
                      <img src="{{ url_for('static', filename='images/movies/' + Movies_dict[key].get_movie_image() ) }}" alt="{{ Movies_dict[key].get_movie_title() }} Img" width="200px">
                    </td>
                    <td>
                      {{ Movies_dict[key].get_description() }}
                    </td>
                    <td>
                      {{ Movies_dict[key].get_genre() }}
                    </td>
                    <td>
                      {{ Movies_dict[key].get_casts() }}
                    </td>
                    <td>
                      {{ Movies_dict[key].get_trailer() }}
                    </td>
                    <td>
                      {{ Movies_dict[key].get_duration() }}
                    </td>
                    <td>
                      {{ Movies_dict[key].get_release_date() }}
                    </td>
                    <td>
                      {{ Movies_dict[key].get_language() }}
                    </td>
                    <td>
                      {{ Movies_dict[key].get_subtitles() }}
                    </td>
                    <td>
                      {{ Movies_dict[key].get_directors() }}
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary">
                        <a href="{{ url_for('modify_movies', movies_id=Movies_dict[key].get_id()) }}">Modify Movies</a>              
                      </button>
                    </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
    
    <!-- The Modal trailer -->
    <div class="modal" id="jokerTrailer">
        <div class="modal-dialog">
          <div class="modal-content">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/KpYAbvj9ULc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    
    <!-- The Modal trailer -->
    <div class="modal" id="frozenTrailer">
      <div class="modal-dialog">
        <div class="modal-content">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bwzLiQZDw2I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="modal" id="doraTrailer">
      <div class="modal-dialog">
        <div class="modal-content">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gUTtJjV852c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="modal" id="interstellarTrailer">
      <div class="modal-dialog">
        <div class="modal-content">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zSWdZVtXT7E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <!-- Modal edit joker movie-->
    <div class="modal fade" id="editMovie1Modal" tabindex="-1" role="dialog" aria-labelledby="editMovie1Modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editMovie1Modal">Modify Movie</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                  <label for="movieName">Movie Name</label>
                  <input type="text" class="form-control" id="movieName">
              </div>
              <div class="form-group">
                <label for="movieImage">Movie Poster</label>
                <input type="file" class="form-control-file" id="movieImage">
              </div>
              <div class="form-group">
                  <label for="movieDescription">Description</label>
                  <input type="text" class="form-control" id="movieDescription">
              </div>
              <div class="form-group">
                  <label for="movieGenre">Genre</label>
                  <input type="text" class="form-control" id="movieGenre">
              </div>
              <div class="form-group">
                  <label for="movieCast">Casts</label>
                  <input type="text" class="form-control" id="movieCast">
              </div>
              <div class="form-group">
                  <label for="movieTrailer">Movie Trailer</label>
                  <input type="text" class="form-control-file" id="movieTrailer">
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="addMovie()" >Save Edits</button>
          </div>
        </div>
      </div>
    </div>  

    <!-- Modal edit frozen movie -->
    <div class="modal fade" id="editMovie2Modal" tabindex="-1" role="dialog" aria-labelledby="editMovie2Modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editMovie2ModaLabel">Modify Movie</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                  <label for="movieName">Movie Name</label>
                  <input type="text" class="form-control" id="movieName">
              </div>
              <div class="form-group">
                <label for="movieImage">Movie Poster</label>
                <input type="file" class="form-control-file" id="movieImage">
              </div>
              <div class="form-group">
                  <label for="movieDescription">Description</label>
                  <input type="text" class="form-control" id="movieDescription">
              </div>
            <div class="form-group">
                <label for="movieGenre">Genre</label>
                <input type="text" class="form-control" id="movieGenre">
            </div>
            <div class="form-group">
                <label for="movieCast">Description</label>
                <input type="text" class="form-control" id="movieCast">
            </div>
            <div class="form-group">
                <label for="movieTrailer">Movie Trailer</label>
                <input type="text" class="form-control-file" id="movieTrailer">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="addMovie()" >Save Edits</button>
          </div>
        </div>
      </div>
    </div>

    <!--Dora modal-->

    <div class="modal fade" id="editMovie3Modal" tabindex="-1" role="dialog" aria-labelledby="editMovie1Modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editMovie1Modal">Modify Movie</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                  <label for="movieName">Movie Name</label>
                  <input type="text" class="form-control" id="movieName">
              </div>
              <div class="form-group">
                <label for="movieImage">Movie Poster</label>
                <input type="file" class="form-control-file" id="movieImage">
              </div>
              <div class="form-group">
                  <label for="movieDescription">Description</label>
                  <input type="text" class="form-control" id="movieDescription">
              </div>
              <div class="form-group">
                  <label for="movieGenre">Genre</label>
                  <input type="text" class="form-control" id="movieGenre">
              </div>
              <div class="form-group">
                  <label for="movieCast">Casts</label>
                  <input type="text" class="form-control" id="movieCast">
              </div>
              <div class="form-group">
                  <label for="movieTrailer">Movie Trailer</label>
                  <input type="text" class="form-control-file" id="movieTrailer">
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="addMovie()" >Save Edits</button>
          </div>
        </div>
      </div>
    </div>  

    <!--Interstellar-->

    <div class="modal fade" id="editMovie4Modal" tabindex="-1" role="dialog" aria-labelledby="editMovie1Modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editMovie1Modal">Modify Movie</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                  <label for="movieName">Movie Name</label>
                  <input type="text" class="form-control" id="movieName">
              </div>
              <div class="form-group">
                <label for="movieImage">Movie Poster</label>
                <input type="file" class="form-control-file" id="movieImage">
              </div>
              <div class="form-group">
                  <label for="movieDescription">Description</label>
                  <input type="text" class="form-control" id="movieDescription">
              </div>
              <div class="form-group">
                  <label for="movieGenre">Genre</label>
                  <input type="text" class="form-control" id="movieGenre">
              </div>
              <div class="form-group">
                  <label for="movieCast">Casts</label>
                  <input type="text" class="form-control" id="movieCast">
              </div>
              <div class="form-group">
                  <label for="movieTrailer">Movie Trailer</label>
                  <input type="text" class="form-control-file" id="movieTrailer">
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="addMovie()" >Save Edits</button>
          </div>
        </div>
      </div>
    </div>  

    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
      <i class="fas fa-chevron-up"></i>
    </a>
  </div>
  <!-- /.content-wrapper -->
{% endblock %}