{% extends "Admin/baseAdmin.html" %}

{% block styles %}
<style>
.col1{
margin: auto;


}

#temporary_html{
  border: grey solid 2px;
}
</style>
{% endblock %}

<!-- Content Wrapper. Contains page content -->
{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Add Carousel</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ url_for('other.admin_home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('carousel.admin_carousel') }}">Carousel</a></li>
            <li class="breadcrumb-item active">Add Carousel</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10">
          <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-group">
              {{ form.carousel_category.label(class="form-control-label") }}
              {{ form.carousel_category(class="form-control form-control-lg", onchange="change_carousel_title()") }}
            </div>
            <div class="form-group">
              {{ form.carousel_title.label(class="form-control-label") }}
              {{ form.carousel_title(multiple=true) }}
            </div>
            {{ form.submit(class="btn btn-primary", onclick="return confirm('Are you sure you want to add this carousel entry?')") }}
          </form>
        </div>
      </div>
    </div>
  </section>


  <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
  </a>
</div>
{% endblock %}
<!-- /.content-wrapper -->

{% block scripts %}
<script>
  function change_carousel_title(){
  let carousel_category = document.getElementById("carousel_category");
  let carousel_title = document.getElementById("carousel_title");

  category = carousel_category.value;      

  fetch('/admin/carousel_title/' + category).then(function(response){
    response.json().then(function(data) {
      let optionHTML = "";
      for (var key in data.carousel_title){
        var value = data.carousel_title[key];
        optionHTML += '<option value="' + key + '">' + value + '</option>'
      }

      carousel_title.innerHTML = optionHTML;
    });
  });


}  

</script>
<script src="{{ url_for('static', filename='js/extension.js') }}"></script>
  <script>
    setTimeout(function() {
      new SlimSelect({
        select: '#carousel_title'
      })
    }, 700)
  </script>
{% endblock %}