{% extends "Admin/baseAdmin.html" %}
  
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
{% endblock %}

<!-- Content Wrapper. Contains page content -->
{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Carousel</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#" class="homeButton">Home</a></li>
            <li class="breadcrumb-item active">Carousel</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">

        <div class="ml-auto">
          <button type="button" class="btn btn-success">
            <a href="{{ url_for('carousel.add_carousel') }}">Add Carousel</a>              
          </button>
          <button type="submit" class="btn btn-danger"onclick="delete_carousel()">Delete</button>
        </div>
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <td>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" onclick="select_all(this)">
                </div>
              </td>
              <th scope="col">Id</th>
              <th scope="col">Carousel Title</th>
              <th scope="col">Category</th>
              <th scope="col">Image</th>
              <th scope="col">Modify Carousel</th>
            </tr>
          </thead>
          <tbody>              
            {% for key in Carousel_dict %}
              <tr>
                <td>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="{{ Carousel_dict[key].get_id() }}">
                  </div>
                </td>
                <td>
                  {{ Carousel_dict[key].get_id() }}
                </td>
                <td>
                  {{ Carousel_dict[key].get_title() }}
                </td>
                <td>
                  {{ Carousel_dict[key].get_category() }}
                </td>
                <td>
                  <img src="{{ url_for('static', filename='images/Carousel/' + Carousel_dict[key].get_carousel_image() ) }}" alt="{{ Carousel_dict[key].get_title() }} Img" width="200px">
                </td>
                <td>
                  <button type="button" class="btn btn-primary">
                    <a href="{{ url_for('carousel.modify_carousel', carousel_id=Carousel_dict[key].get_id()) }}">Modify Carousel</a>              
                  </button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>


  <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
  </a>
</div>
{% endblock %}
<!-- /.content-wrapper -->

{% block scripts %}
  <script>
    function delete_carousel() {
      var list_of_to_be_deleted_carousels = [];
      var list_of_checkboxes = document.getElementsByClassName("form-check-input");        
      for (var index=1;index<list_of_checkboxes.length;index++){                    
        var checkbox = list_of_checkboxes[index];                    
        if (checkbox.checked){
          list_of_to_be_deleted_carousels.push(checkbox.name);
        }          
      }        
      send_message("{{ url_for('carousel.delete_carousel') }}", list_of_to_be_deleted_carousels)
    }
    </script>
  <script src="{{ url_for('static', filename='js/extension.js') }}"></script>
{% endblock %}