{% extends "Admin/baseAdmin.html" %}
{% block styles %}
    <style>
      a {
        color:white;
      }
      a:hover{
        color:white;
      }
    </style>
  {% endblock %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Movie Theatres</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ url_for('admin_home') }}">Home</a></li>
            <li class="breadcrumb-item active">Movie Theatres</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        
        <div class="ml-auto">            
          <button type="button" class="btn btn-success">
            <a href="{{ url_for('add_movie_theatre') }}">Add Movie Theatre</a>              
          </button>
          <button type="submit" class="btn btn-danger" onclick="deleteMovieTheatre()">Delete</button>
        </div>
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <td>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" onclick="select_all(this)">                    
                </div>
              </td>
              <th scope="col">Id</th>
              <th scope="col">Theatre Name</th>
              <th scope="col">Image</th>                
              <th scope="col">No. Halls</th>
              <th scope="col">Modify</th>
            </tr>
          </thead>
          <tbody>
            {% for key in Movie_theatre_dict %}
            <tr>
              <td>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="{{ Movie_theatre_dict[key].get_id() }}">                    
                </div>
              </td>
              <td>
                {{ Movie_theatre_dict[key].get_id() }}
              </td>
              <td>
                {{ Movie_theatre_dict[key].get_theatre_name() }}
              </td>
              <!-- <td><img src="https://www.neshoba.org/pcdp/cache/file/774AC7F5-155D-D235-07D8165A3BAAEA42_business-photo.jpg" alt="cinema" height="90" width="150"></td> -->
              <td>
                <img src="{{ url_for('static', filename='images/theatre/' + Movie_theatre_dict[key].get_theatre_image() ) }}" alt="{{ Movie_theatre_dict[key].get_theatre_name() }} Img" width="200px">
              </td>
              <td>
                {{ Movie_theatre_dict[key].get_number_of_halls() }}
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  <a href="{{ url_for('modify_movie_theatre', movie_theatre_id=Movie_theatre_dict[key].get_id()) }}">Modify Movie Theatre</a>              
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
  </a>
</div>
<!-- /.content-wrapper -->
{% endblock %}

{% block scripts %}
<!-- delete movie theatre -->
<script>
  function deleteMovieTheatre() {
    var list_of_to_be_deleted_promotions = [];
    var list_of_checkboxes = document.getElementsByClassName("form-check-input");        
    for (var index=1;index<list_of_checkboxes.length;index++){                    
      var checkbox = list_of_checkboxes[index];                    
      if (checkbox.checked){
        list_of_to_be_deleted_promotions.push(checkbox.name);
      }          
    }        
    send_message("{{ url_for('delete_movie_theatre') }}", list_of_to_be_deleted_promotions)
  }             
</script>
<script src="{{ url_for('static', filename='js/extension.js') }}"></script>
{% endblock %}