{% extends 'base.html' %}

{% block style %}
  .box {
    height:30px;
    width:30px;
     border-radius: 5px;
  }
  .available {
    background-color: #e6e6e6;
  }
  .selling-fast {
    background-color: green;
  }
  .sold-out {
    background-color: red;
  }
  .legend-col > span {
    display: inline-block;
    vertical-align: center;
  }
{% endblock %}

{% block content %}
    <div class="container mt-2">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">HOME</a></li>
              <li class="breadcrumb-item active" aria-current="page">SHOWTIMES</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <!-- this is the dropdowns -->
        <div class="form-group col">
          <select class="top_selector date-top-selector form-control">
            <option value="2019-11-15">
              Today, Fri, 15 Nov 2019
            </option>
            <option value="2019-11-16">
              Sat, 16 Nov 2019
            </option>
            <option value="2019-11-17">
              Sun, 17 Nov 2019
            </option>
            <option value="2019-11-18">
              Mon, 18 Nov 2019
            </option>
            <option value="2019-11-19">
              Tue, 19 Nov 2019
            </option>
            <option value="2019-11-20">
              Wed, 20 Nov 2019
            </option>
            <option value="2019-11-21">
              Thu, 21 Nov 2019
            </option>
            <option value="2019-11-22">
              Fri, 22 Nov 2019
            </option>
            <option value="2019-11-23">
              Sat, 23 Nov 2019
            </option>
            <option value="2019-11-24">
              Sun, 24 Nov 2019
            </option>
            <option value="2019-11-25">
              Mon, 25 Nov 2019
            </option>
            <option value="2019-11-26">
              Tue, 26 Nov 2019
            </option>
            <option value="2019-11-27">
              Wed, 27 Nov 2019
            </option>
            <option value="2019-11-30">
              Sat, 30 Nov 2019
            </option>
          </select>
        </div>
        <div class="form-group col">
          <select class="top_selector movie-top-selector form-control">
            <option value="All">
              All Movies
            </option>
            <option value="AF0011">
              Ford V Ferrari
            </option>
            <option value="AD0026">
              Depeche Mode : Spirits In The  Forest
            </option>
            <option value="AD0018">
              Disney`s Frozen 2
            </option>
            <option value="1C0003">
              Chasing Dream (M)
            </option>
            <option value="5S0012">
              The Shiny Shrimps (F)
            </option>
            <option value="AC0011">
              Charlie`s Angels
            </option>
            <option value="AS0031">
              Stand By Me (M)
            </option>
            <option value="9S0123">
              A Shaun The Sheep Movie: Farmageddon
            </option>
            <option value="AJ0005">
              Joker
            </option>
            <option value="AA0013">
              Abominable
            </option>
            <option value="AB0019">
              Better day text-centers (M)
            </option>
            <option value="AM0027">
              Midway
            </option>
            <option value="AD0022">
              Stephen King`s Doctor Sleep
            </option>
            <option value="AD0019">
              Disney`s Maleficent: Mistress Of Evil
            </option>
            <option value="9P0005">
              Pain And Glory (Spanish)
            </option>
            <option value="AT0007">
              Terminator: Dark Fate
            </option>
            <option value="AA0015">
              The Addams Family
            </option>
            <option value="1U0001">
              Unbreakable Spirit (M)
            </option>
            <option value="AZ0001">
              Zombieland: Double Tap
            </option>
            <option value="AG0012">
              Gemini Man
            </option>
            <option value="1G0001">
              Guilt By Design (M)
            </option>
            <option value="5F0007">
              The Farewell
            </option>
            <option value="5I0007">
              #IAMHERE (F)
            </option>
            <option value="AD0025">
              Dilili A Paris (F)
            </option>
            <option value="AH0011">
              High Life (F)
            </option>
            <option value="9L0005">
              La Belle Epoque (F)
            </option>
            <option value="5L0006">
              Love At Second Sight (F)
            </option>
            <option value="9M0005">
              Made In China (F)
            </option>
            <option value="AO0009">
              Of Love And Lies (F)
            </option>
            <option value="AS0030">
              Sibyl (F)
            </option>
            <option value="5S0011">
              Someone, Somewhere (F)
            </option>
            <option value="AL0022">
              The Lover (F)
            </option>
          </select>
        </div>
        <div class="form-group col">
          <select class="top_selector theatre-top-selector form-control">
            <option value="All">
              All Theatres
            </option>
            <option value="0100" selected="Selected">
              Saw Theatres Lido
            </option>
            <option value="1000">
              Saw Theatres Jewel
            </option>
            <option value="1100">
              Saw Theatres Paya Lebar Quarter
            </option>
            <option value="0900">
              Saw Theatres Waterway Point
            </option>
            <option value="0700">
              Saw Theatres nex
            </option>
            <option value="0800">
              Saw Theatres Seletar
            </option>
            <option value="0200">
              Saw Theatres JCube
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="heading">
            <h2>Movies & Showtimes</h2>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-10">
          <div class="owl-carousel owl-theme">
            <div class="item card">
              <span class="day text-center">Fri</span>
              <span class="date text-center">15 Nov 2019</span>
            </div>
            <div class="item card">
              <span class="day text-center">Sat</span>
              <span class="date text-center">16 Nov 2019</span>
            </div>
            <div class="item card">
              <span class="day text-center">Sun</span>
              <span class="date text-center">17 Nov 2019</span>
            </div>
            <div class="item card">
              <span class="day text-center">Mon</span>
              <span class="date text-center">18 Nov 2019</span>
            </div>
            <div class="item card">
              <span class="day text-center">Tue</span>
              <span class="date text-center">19 Nov 2019</span>
            </div>
            <div class="item card">
              <span class="day text-center">Wed</span>
              <span class="date text-center">20 Nov 2019</span>
            </div>
            <div class="item card">
              <span class="day text-center">Thu</span>
              <span class="date text-center">21 Nov 2019</span>
            </div>
            <div class="item card">
              <span class="day text-center">Fri</span>
              <span class="date text-center">22 Nov 2019</span>
            </div>
            <div class="item card">
              <span class="day text-center">Sat</span>
              <span class="date text-center">23 Nov 2019</span>
            </div>
            <div class="item card">
              <span class="day text-center">Sun</span>
              <span class="date text-center">24 Nov 2019</span>
            </div>
            <div class="item card">
              <span class="day text-center">Mon</span>
              <span class="date text-center">25 Nov 2019</span>
            </div>
            <div class="item card">
              <span class="day text-center">Tue</span>
              <span class="date text-center">26 Nov 2019</span>
            </div>
          </div>
        </div>
        <!-- <div class="col-2"> -->

          <!-- <div class="owl-nav"> -->
            <div class="customPrevBtn col-1 text-center">
              <i class="fa fa-angle-left" style="font-size:36px"></i>
            </div>
            <div class="customNextBtn col-1 text-center">
              <i class="fa fa-angle-right " style="font-size:36px"></i>
            </div>
          <!-- </div> -->
        <!-- </div> -->

      </div>
      <div class="row mt-5">
        <div class="col-11">
          <div class="row">
            <div class="col">
              <div class="heading">
                <h3>Saw Theatres Lido</h3>
                <hr>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5 col-sm-5 col-md-6 table">
              <div class="movies_ct-item clearfix">
                <a class="block-img p-t-0 " href="#">
                  <img src="{{ url_for('static', filename='images/movie details/Poster-Frozen-V3.jpg') }}">
                </a>
                <div class="info">
                  <div class="title"><a href="{{ url_for('frozenmoviedetails') }}">Disney's Frozen 2</a></div>
                  <p>
                    <span class="guidance">
                      <span class="guidance-svg">
                        <img src="{{ url_for('static', filename='svgs/PG.svg') }}" alt="">
                      </span>
                    </span>
                    <span class="duration">| 1 hr 43 mins </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-sm-7 col-md-6">
              <div class="showtimes-block ">
                <a href="{{ url_for('bookmovieseats') }}">9 AM<sup>+</sup></a>
              </div>
              <div class="showtimes-block ">
                <a href="{{ url_for('bookmovieseats') }}">12 PM<sup>+</sup></a>
              </div>
              <div class="showtimes-block ">
                <a href="{{ url_for('bookmovieseats') }}">6 PM<sup>+</sup></a>
              </div>            
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <div class="row">
            <div class="col">
              <h4>Legend</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col-1 box available"></div>
                <div class="col align-self-center">Available</div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-1 box selling-fast"></div>
                <div class="col align-self-center">Selling Fast</div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-1 box sold-out"></div>
                <div class="col align-self-center">Sold Out</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    {% endblock %}


{% block scripts %}
    <script type="text/javascript">
    $(document).ready(function(){
      var owl = $('.owl-carousel');
      owl.owlCarousel({
        loop:false,
        nav:false,
        margin:10,
        dots:false,
        responsive:{
          0:{
            items:1
          },
          600:{
            items:2
          },
          960:{
            items:3
          },
          1200:{
            items:4
          }
        }
      });

      $('.customNextBtn').click(function() {
        owl.trigger('next.owl.carousel');
      })
      // Go to the previous item
      $('.customPrevBtn').click(function() {
        // With optional speed parameter
        // Parameters has to be in square bracket '[]'
        owl.trigger('prev.owl.carousel', [300]);
      })

      owl.on('mousewheel', '.owl-stage', function (e) {
        if (e.deltaY>0) {
          owl.trigger('next.owl');
        } else {
          owl.trigger('prev.owl');
        }
        e.preventDefault();
      });


    });
    </script>
{% endblock %}
