{% extends 'base.html' %}

{% block style %}

{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('home') }}">HOME</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('promotion') }}">PROMOTIONS</a></li>
                    <li class="breadcrumb-item active" aria-current="page">FROZEN PROMOS</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <img src="{{ url_for('static', filename='images/promotions_frozen.jpg') }}" alt="" width="100%">
        </div>
        <div class="col-7">
            <h2>DISNEY'S FROZEN 2 POPCORN COMBO</h2>
            <em>Brrr... Are you ready for the magic of winter?</em>
            <b>Follow Elsa and Anna into the unknown with your snowflake Crystal Dome Cups and Tin Tubs!</b>
            <p>Terms and Conditions</p>
            <ul>
                <li>Not valid with other offers, privileges, promotions or voucher redemptions.</li>
                <li>Not valid for group/corporate bookings.</li>
                <li>Not exchangeable or refundable for cash, products or other services.</li>
                <li>In the event of any dispute, the decision of Saw Cinematics is final. No correspondence will be entertained.</li>
                <li>Saw Cinematics reserves the right to terminate, suspend or cancel (in whole or in part) this promotion.</li>
                <li>Saw Cinematics reserves the right to amend these terms and conditions of the promotion from time to time without prior notice and without any liability.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}