<!-- header -->
<header class="header">
    <div class="header__wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__content">
                        <!-- header logo -->
                        <a href="{{ url_for('carousel.home') }}" class="">
                            <img src="{{ url_for('static', filename='images/logo.png')}}" alt="" width="80px" height="auto">
                        </a>
                        <!-- end header logo -->

                        <!-- header nav -->
                        <ul class="header__nav">                       
                            <li class="header__nav-item">
                                <a href="{{ url_for('carousel.home') }}" class="header__nav-link">Home</a>
                            </li>                            

                            <!-- dropdown -->
                            <li class="header__nav-item">
                                <a href="{{ url_for('movie.movieslist') }}" class="header__nav-link">Catalog</a>                                
                            </li>
                            <!-- end dropdown -->

                            <li class="header__nav-item">
                                <a href="{{ url_for('showtime.bookmovie') }}" class="header__nav-link">Book</a>
                            </li>
                            
                            <li class="header__nav-item">
                                <a href="{{ url_for('rental.rentmovie') }}" class="header__nav-link">Rent</a>
                            </li>

                            <li class="header__nav-item">
                                <a href="{{ url_for('promotion.promotion') }}" class="header__nav-link">Promotion</a>
                            </li>

                            <li class="header__nav-item">
                                <a href="{{ url_for('other.faq') }}" class="header__nav-link">F.A.Q</a>
                            </li>

                        </ul>
                        <!-- end header nav -->

                        <!-- header auth -->
                        <div class="header__auth">
                            <button class="header__search-btn" type="button">
                                <i class="icon ion-ios-search"></i>
                            </button>
                            {% if current_user.is_authenticated %} 
                            <p>&nbsp&nbsp&nbsp&nbsp&nbsp</p>       
                            <a href="{{ url_for('user.accountpage') }}">
                                <img src="{{ url_for('static', filename='images/profile_pictures/' + current_user.get_profile_picture()) }}" style="border-radius:50%;" width="80" height="auto" alt="">
                            </a>                    
                            <a href="{{ url_for('user.logout') }}" class="header__sign-in">
                                <button type="submit" onclick="return confirm('Are you sure you want to log out?')"><span>Sign out</span></button>
                                <!--<span>sign out</span>-->
                            </a>
                            {% else %}
                            <a href="{{ url_for('user.login') }}" class="header__sign-in">
                                <i class="icon ion-ios-log-in"></i>
                                <span>sign in</span>
                            </a>
                            {% endif %}
                        </div>
                        <!-- end header auth -->

                        <!-- header menu btn -->
                        <button class="header__btn" type="button">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <!-- end header menu btn -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- header search -->
    <form action="#" class="header__search">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__search-content">
                        <input type="text" placeholder="Search for a movie, TV Series that you are looking for">

                        <button type="button">search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- end header search -->
</header>
<!-- end header -->