{% extends "Admin/baseAdmin.html" %}

{% block styles %}
{% endblock %}

<!-- Content Wrapper. Contains page content -->
{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Add Movie</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ url_for('other.admin_home') }}">Home</a></li>
            <li class="breadcrumb-item">Movies</li>
            <li class="breadcrumb-item active">Add Movie</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10">
          <form action="{{url_for('movie.admin_movies')}}" method="GET">
            <button class="btn btn-primary" type="submit" style="float: right; clear: both;">Cancel</button>
          </form>
          <br>
        <form method="POST" enctype="multipart/form-data">
          {{ form.csrf_token }}
          <div class="form-group">
            {{ form.movie_name.label(class="form-control-label") }}            
            {{ render_field(form.movie_name, class="form-control", required=False) }}
          </div>
          <div class="form-group">
            {{ form.movie_poster.label(class="form-control-label") }}
            {{ render_field(form.movie_poster, class="form-control-file", required=False) }}
          </div>
          <div class="form-group">
            {{ form.movie_description.label(class="form-control-label") }}            
            {{ render_field(form.movie_description, class="form-control", required=False) }}
          </div>
          <div class="form-group">
            {{ form.movie_genre.label(class="form-control-label") }}            
            {{ render_field(form.movie_genre, multiple=True) }}
          </div>
          <div class="form-group">
            {{ form.movie_casts.label(class="form-control-label") }}            
            {{ render_field(form.movie_casts, class="form-control", required=False) }}
          </div>
          <div class="form-group">
            {{ form.movie_director.label(class="form-control-label") }}            
            {{ render_field(form.movie_director, class="form-control", required=False) }}
          </div>
          <div class="form-row">
            <div class="form-col">
              {{ form.movie_fullvideo.label(class="form-control-label") }}            
              {{ render_field(form.movie_fullvideo, class="form-control-file", required=False) }}
            </div>
            <div class="form-col">
              {{ form.movie_trailer.label(class="form-control-label") }}            
              {{ render_field(form.movie_trailer, class="form-control-file", required=False) }}
            </div>
          </div>
          <div class="form-row">
            <div class="form-col">
              {{ form.movie_duration.label(class="form-control-label") }}              
              {{ render_field(form.movie_duration, class="form-control", required=False, type="number") }}
            </div>
            <div class="form-col">
              {{ form.movie_release_date.label(class="form-control-label") }}              
              {{ render_field(form.movie_release_date, class="form-control", required=False, type="date") }}
            </div>
            <div class="form-col">
              {{ form.movie_language.label(class="form-control-label") }}              
              {{ render_field(form.movie_language, class="form-control", required=False) }}
            </div>
            <div class="form-col">
              {{ form.movie_subtitles.label(class="form-control-label") }}              
              {{ render_field(form.movie_subtitles, class="form-control", required=False) }}
            </div>
        
          </div>
          {{ form.submit(class="btn btn-primary", onclick='confirm("Do you want to proceed with adding the movie(s) ?")') }}
        </form>
        
      </div>
      </div>
    </div>
  </section>


  <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
  </a>
</div>
{% endblock %}
<!-- /.content-wrapper -->

{% block scripts %}
<script>
  setTimeout(function() {
    new SlimSelect({
      select: '#movie_genre'
    })
  }, 700)
</script>
{% endblock %}