{% extends "User 2/base.html" %}

{% block content %}
<!-- page title -->
<section class="section section--first section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">About Us</h2>
                    <!-- end section title -->

                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="{{ url_for('carousel.home') }}">Home</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">About Us</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="comments__text">
                Saw Cinematics Pte Ltd, a wholly-owned subsidiary of Orange Sky Golden Harvest Entertainment (Holdings), is Singapore's leading cinema exhibitor with 14 multiplexes, housing 113 screens, located at Yishun, Bishan Junction 8, Tiong Bahru Plaza, Jurong Point, Tampines Mall, Great World City, Plaza Singapura, 112 Katong, City Square, Suntec City, VivoCity, Paya Lebar – home to Singapore’s first all-laser cinema, and Bedok. SC is the first local cinema company to personalise the movie-going experience through its Movie Club program. Today, SC has a reputation of offering the widest choice of movies, state-of-the-art design, convenience and unparalleled comfort, with all cinemas newly refurbished between 2010 to 2019.<br>
            
                Established in 1993, Saw Cinematics Pictures (SCP) is Singapore's leading independent film distributor, releasing a wide range of blockbusters from Hollywood’s JOHN WICK series to Asian megahits like TRAIN TO BUSAN, KUNGFU YOGA and the ALONG WITH THE GODS series. GVP also promotes arthouse gems such as SHOPLIFTERS and PARASITE, winners of the Palme d'Or award at the prestigious Cannes Film Festival in 2018 and 2019 respectively. As a recognised distributor for home-grown films, GVP has worked with many local directors, including Jack Neo (AH BOYS TO MEN series, etc), Eric Khoo (RAMEN TEH), Anthony Chen (ILO ILO) and Boo Junfeng (APPRENTICE).<br>
            </p>

        </div>
    </div>
</div>

{% endblock %}