{% extends "User 2/base.html" %}
{% from "User 2/includes/_formHelper.html" import render_field %}
{% block content %}

<section class="content">
    <div class="content__head">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-3 content__title">Account Information</h2>
                    <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-1-testing" role="tab" aria-controls="tab-1" aria-selected="true">Contact Details</a>
                        </li>
                
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2-testing" role="tab" aria-controls="tab-2" aria-selected="false">Movies</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">                                                
        <!-- content tabs -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab-1-testing" role="tabpanel" aria-labelledby="1-tab">
                <div class="row">
                    <div class="col contact-details">                      
                        <img src="{{ url_for('static', filename='images/profile_pictures/' + current_user.get_profile_picture() ) }}" alt="..." style="border-radius: 50%;" width="150" height="auto">
                        <div class="pl-4">
                            <div class="row">
                                <div class="col-lg-3 ">
                                    <h3 class="card__title">Full Name</h3>
                                    <div class="card__description">
                                        <p>{{ current_user.get_fullname() }}</p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <h3 class="card__title">Gender</h3>
                                    <div class="card__description">
                                        <p>{{ current_user.get_gender() }}</p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <h3 class="card__title">Date Of Birth</h3>
                                    <div class="card__description">
                                        <p>{{ current_user.get_DateofBirth() }}</p>
                                    </div>
                                </div>
                            </div>               
                            <div class="row">
                                    <div class="col-lg-3 ">
                                    <h3 class="card__title">Username</h3>
                                    <div class="card__description">
                                        <p>{{ current_user.get_username() }}</p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <h3 class="card__title">Email Address</h3>
                                    <div class="card__description">
                                        <p>{{ current_user.get_email() }}</p>
                                    </div>
                                </div>
                            </div>        
                            <div class="row">
                                <div class="col-lg-4">
                                    <button type="button" class="sign__btn" data-toggle="modal" data-target="#UCDmodal">                                        
                                        Update Contact Details                                        
                                    </button>
                                </div>
                                <div class="col-lg-4">
                                    <button type="button" class="sign__btn" data-toggle="modal" data-target="#UPmodal">
                                        Change Password
                                    </button>
                                </div>
                                <div class="col-lg-4">
                                    <button type="button" class="sign__btn" data-toggle="modal" data-target="#UPPmodal">
                                        Change Display Picture
                                    </button>
                                </div>
                            </div>                                       
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="tab-pane fade show" id="tab-2-testing" role="tabpanel" aria-labelledby="1-tab">
                <div class="row">
                    <div class="col movies">
                        <div class="anchor" id="Movies"></div>
                        <h3 style=color:white>My Showtime Movies</h3>
                        <div class="pl-4">
                            <div class="anchor" id="RML"></div>
                            <table border="1" id="{{ theatre_name }}" style="color:white;width:1110px;">
                                <thead>                            
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Runtime</th>
                                        <th scope="col">Genre</th>
                                        <th scope="col">Date Bought</th>
                                        <th scope="col">Seats Bought</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for value in current_user.get_bought_seats().values()%}
                                    <tr >
                                        <th scope="row">{{ loop.index }}</th>
                                        <td>{{ value['showtime_class'].get_movie_class().get_movie_name() }}</td>
                                        <td>{{ value['showtime_class'].get_movie_class().get_duration() }} minutes</td>
                                        <td>
                                            <span class="card__category">                     
                                                {% for genre in value['showtime_class'].get_movie_class().get_genre_list() %}
                                                    <a>{{ genre }}</a>
                                                {% endfor %}
                                            </span>
                                        </td>
                                        <td>{{ value['date'] }}</td>
                                        <td>
                                            <span class="card__category">                                                                        
                                                {% for seat in value['seats'] %}
                                                    <a>{{ seat }}</a>                   
                                                {% endfor %}                             
                                            </span>
                                        </td>
                                        <td>
                                            {% for seat in value['seats'] %}
                                                {% if loop.index == 1 %}
                                                    ${{ loop.length * 8.5 }}           
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    {% endfor %}                                                                                                                                                                                
                                </tbody>
                            </table>

        </div>
                                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr class="new1">
                <!--Delete Account option-->
                <form action="{{ url_for('user.delete_account') }}" method="POST">
                    <button type="submit" class="sign__btn" onclick="confirm('Are you sure you want to delete this account?')">
                        Terminate Account
                    </button>
                </form>

            </div>
        </div>
    </div>
    

</section>
    
<!-- Update Contact Details Modal -->
<div class="modal fade" id="UCDmodal" tabindex="-1" role="dialog" aria-labelledby="UCDModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #28282d;">
                <h2 class="modal-title card__title" id="UCDModalLabel" style="padding:20px"> Update Contact Details </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                    <i class="fa fa-close" style="color: #ff55a5;"></i>
                </button>
            </div>        
            <div class="modal-body ">                
                <form action="#" class="sign__form" method="POST">
                    {{ UCDform.hidden_tag() }}            
                    <div class="sign__group">
                        {{ render_field(UCDform.fullName, class="sign__input", placeholder="Full Name", required=False) }}
                    </div>
                    <div class="sign__group">
                        {{ render_field(UCDform.username, class="sign__input", placeholder="Username", required=False) }}
                    </div>
                    <div class="sign__group">
                        {{ render_field(UCDform.email, class="sign__input", placeholder="Email", required=False) }}
                    </div>
                    <div class="sign__group">
                        {{ render_field(UCDform.dateOfBirth, class="sign__input", required=False) }}
                    </div>
                    <div class="sign__group">
                        {{ render_field(UCDform.gender, class="sign__input") }}
                    </div>
                    <div class="sign__group">                
                        {{ render_field(UCDform.submit, class="sign__btn") }}            
                    </div>
                </form>
            </div>    
        </div>
    </div>
</div>

<!-- Update Change Password modal    -->
<div class="modal fade" id="UPmodal" tabindex="-1" role="dialog" aria-labelledby="UPmodaltitle" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background-color: #28282d;">
            <h2 class="modal-title" id="UPmodaltitle" style="color:white">Update Change Password</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                <i class="fa fa-close" style="color: #ff55a5;"></i>
            </button>
        </div>
        <div class="modal-body"> 
            <!-- Change Password form -->
            <form action="#" class="sign__form" method="POST">
                {{ UPform.hidden_tag() }}
                <div>
                    <div class="sign__group">
                        {{ render_field(UPform.password, class="sign__input",placeholder="Password", required=False) }}
                    </div>
                    <div class="sign__group">
                        {{ render_field(UPform.confirmpassword, class="sign__input",placeholder="Confirm Password", required=False) }}
                    </div>
                    <div class="sign__group">
                        {{ render_field(UPform.submit, class="sign__btn") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>

<!-- Update Profile Picture modal -->
<div class="modal fade" id="UPPmodal" tabindex="-1" role="dialog" aria-labelledby="UPPmodaltitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #28282d;">
                <h2 class="modal-title" id="UPPtitle" style="color:white;">Update Profile Picture</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                    <i class="fa fa-close" style="color: #ff55a5;"></i>
                </button>
            </div>
            <div class="modal-body" >
                <div>
                <form method="POST" action="#" enctype="multipart/form-data">
                    <div class="sign__group">
                        <img src="{{ url_for('static', filename='images/profile_pictures/' + current_user.get_profile_picture() ) }}" alt="..." style="border-radius: 50%;" width="150" height="auto">
                    </div>
                    <div class="sign__group">
                        {{ UPPform.hidden_tag() }}
                        {{ render_field(UPPform.photo) }}
                    </div>
                    <div class="sign__group">
                        {{ render_field(UPPform.submit, class="sign__btn") }}
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}
					