<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ url_for('static' , filename='css/FlixGo/bootstrap-reboot.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static' , filename='css/FlixGo/bootstrap-grid.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static' , filename='css/FlixGo/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static' , filename='css/FlixGo/jquery.mCustomScrollbar.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static' , filename='css/FlixGo/nouislider.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static' , filename='css/FlixGo/ionicons.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static' , filename='css/FlixGo/plyr.css') }}">
	<link rel="stylesheet" href="{{ url_for('static' , filename='css/FlixGo/photoswipe.css') }}">
	<link rel="stylesheet" href="{{ url_for('static' , filename='css/FlixGo/default-skin.css') }}">
	<link rel="stylesheet" href="{{ url_for('static' , filename='css/FlixGo/main.css') }}">	

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="60x60">
	<link rel="apple-touch-icon" href="icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="72x72" href="icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="icon/apple-touch-icon-144x144.png">

	<!-- <meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov"> -->
	<title>{{ title }}</title>

	<style>
	@media (min-width: 768px){
		.flash-messages {
			margin-top: 90px !important;
			padding: 0px;
		}
	}
	.flash-messages {
		margin-top: 70px;
		padding: 0px;
	}
	</style>
	<style>
		{% block styles %}
		{% endblock %}
	</style>

</head>
<body class="body">
	
	<!-- header -->
	{% include 'User 2/includes/_navbar.html' %}
	<!-- end header -->
	<div class="container flash-messages">
		<div class="row">
			<div class="col-12">
				<!--flash message-->
				{%with messages = get_flashed_messages(with_categories=true)%}
				  {%if messages %}
					{% for category, message in messages %}
					  <div class="alert alert-{{category}}" >
						<p style="color: white;">{{message}}</p>						
					  </div>
					{% endfor %}
				  {%endif%}
				{%endwith%}
				<!--flash message-->
				<!-- <span class="comments__text">jkjh</span> -->
			</div>
		</div>
	</div>

	<!-- content -->
    {% block content %}
    {% endblock %}
	<!-- end content -->

	<!-- footer -->
	{% include 'User 2/includes/_footer.html' %}
	<!-- end footer -->

	<!-- JS -->
	<script src="{{ url_for('static' , filename='js/FlixGo/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ url_for('static' , filename='js/FlixGo/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static' , filename='js/FlixGo/owl.carousel.min.js') }}"></script>
	<script src="{{ url_for('static' , filename='js/FlixGo/jquery.mousewheel.min.js') }}"></script>
	<script src="{{ url_for('static' , filename='js/FlixGo/jquery.mCustomScrollbar.min.js') }}"></script>
	<script src="{{ url_for('static' , filename='js/FlixGo/wNumb.js') }}"></script>
	<script src="{{ url_for('static' , filename='js/FlixGo/nouislider.min.js') }}"></script>
	<script src="{{ url_for('static' , filename='js/FlixGo/plyr.min.js') }}"></script>
	<script src="{{ url_for('static' , filename='js/FlixGo/jquery.morelines.min.js') }}"></script>
	<script src="{{ url_for('static' , filename='js/FlixGo/photoswipe.min.js') }}"></script>
	<script src="{{ url_for('static' , filename='js/FlixGo/photoswipe-ui-default.min.js') }}"></script>
	<script src="{{ url_for('static' , filename='js/FlixGo/main.js') }}"></script>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
    {% block scripts %}
    {% endblock %}
</body>

</html>