{% extends "User 2/base.html" %}

{% block styles %}
.seats {
    cursor:pointer;
}
{% endblock %}

{% block content %}
<!-- page title -->
<section class="section section--first section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">Buying Seats</h2>
                    <!-- end section title -->

                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="{{ url_for('carousel.home') }}">Home</a></li>
                        <li class="breadcrumb__item"><a href="{{ url_for('showtime.bookmovie') }}">Showtimes</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Buying Seats</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->


<!-- showtime -->
<div class="catalog">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4">
                <div class="card__cover">
                    <img src="{{ url_for('static', filename='images/movie poster/' + showtime_class.get_movie_class().get_poster()) }}" alt="">
                    <a href="#" class="card__play">
                        <i class="icon ion-ios-play"></i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-8">
                <div class="card__content information {{ showtime_class.get_id() }} {{ seat_class.id }} ">
                    <h3 class="card__title"><a href="#">{{ showtime_class.get_movie_class().get_movie_name() }}</a></h3>
                    <span class="card__category">                        
                        {% for genre in showtime_class.get_movie_class().get_genre_list() %}
                            <a>{{ genre }}</a>
                        {% endfor %}
                    </span>
                    <div class="card__description">
                        <p>Showing on {{ seat_class.date_of_showtime.strftime("%a, %d %b %Y") }} from {{ seat_class.timeslot_of_showtime }}</p>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <br>
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <div class="row d-flex justify-content-center">
                    <div class="col-4">
                        <h1 class="card__title">Legend</h1>
                    </div>
                </div>
                <div class="row type-of-seats d-flex justify-content-center">
                    <div class="col-3 card__description">
                        <img src="{{ url_for('static', filename='images/seats/standard_selected.png') }}" alt="">
                        <span class="card__category" style="display: inline-block;">
                            <a>Your seat</a> 
                        </span>
                    </div>
                    <div class="col-3 card__description">
                        <img src="{{ url_for('static', filename='images/seats/standard_available.png') }}" alt="">
                        <span class="card__category" style="display: inline-block;">
                            <a>Available</a>
                        </span>
                    </div>
                    <div class="col-3 card__description">
                        <img src="{{ url_for('static', filename='images/seats/sold.png') }}" alt="">                        
                        <span class="card__category" style="display: inline-block;">
                            <a>Sold</a>
                        </span>
                    </div>
                    <div class="col-3 card__description">
                        <img src="{{ url_for('static', filename='images/seats/on_hold.png') }}" alt="">                        
                        <span class="card__category" style="display: inline-block;">
                            <a>On Hold</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row d-flex justify-content-center">     
            <div class="col-8">
                <div class="row">
                {% for seat, status in seat_class.seat_dict['seats'].items() %}
                {% if loop.index % 8 == 4 or loop.index % 8 == 0 %}
                    {% if status == "standard_available" %}
                        <div class="col-lg-1 seats" onclick="chooseThisSeat(this)">                        
                            <img src="{{ url_for('static', filename='images/seats/' + status + '.png') }}" alt="" class="{{ status }}" id="{{ seat }}">
                            <span class="card__category">
                                <a>{{ seat }}</a>
                            </span>
                        </div>
                    {% else %}
                        <div class="col-lg-1">                        
                            <img src="{{ url_for('static', filename='images/seats/' + status + '.png') }}" alt="" class="{{ status }}" id="{{ seat }}">
                            <span class="card__category">
                                <a>{{ seat }}</a>
                            </span>
                        </div>
                    {% endif%}
                    <div class="col-lg-2">                        
                    </div>  
                {% else %}
                    {% if status == "standard_available" %}
                        <div class="col-lg-1 seats" onclick="chooseThisSeat(this)">
                            <img src="{{ url_for('static', filename='images/seats/' + status + '.png') }}" alt="" class="{{ status }}" id="{{ seat }}">
                            <span class="card__category">
                                <a>{{ seat }}</a>
                            </span>
                        </div>
                    {% else %}
                        <div class="col-lg-1">
                            <img src="{{ url_for('static', filename='images/seats/' + status + '.png') }}" alt="" class="{{ status }}" id="{{ seat }}">
                            <span class="card__category">
                                <a>{{ seat }}</a>
                            </span>
                        </div>
                    {% endif%}
                {% endif %}
                {% endfor %}
                <br>
                <div class="col-10  d-flex justify-content-center">
                    <button class="submit_booking filter__btn" onclick="submit_booking()">CONTINUE</button>
                </div>
            </div>
        </div>   
    </div>

        </div>
    </div>
</div>
<div class=gotop>
	<a id="tothetop" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
		<i class="fas fa-chevron-up"></i>
	  </a>
	</div>
<!-- end showtime -->
{% endblock %}

{% block scripts %}
<script>
function chooseThisSeat(div){    
    if (div.children[0].getAttribute("class") == "standard_available"){
        div.children[0].src = "{{ url_for('static', filename='images/seats/standard_selected.png') }}";
        div.children[0].className = "standard_selected";
    }
    else {
        div.children[0].src = "{{ url_for('static', filename='images/seats/standard_available.png') }}";
        div.children[0].className = "standard_available";
    }
}

function submit_booking(){
    var list_of_selected_seats_elements = document.getElementsByClassName("standard_selected");
    var list_of_selected_seats_id = [];
    for (let element of list_of_selected_seats_elements){
        list_of_selected_seats_id.push(element.id);
    }
    
    if (list_of_selected_seats_id.length == 0){        
        alert("No seats were chosen!");
    }
    else {
        var information_classes = document.getElementsByClassName("information")[0];
        var information_list = Array.from(information_classes.classList);
        var showtime_id = information_list.slice(2,5)[0];
        var seat_class_id = information_list.slice(2,5)[1];
        fetch("/checkseats/" + showtime_id + "/" + seat_class_id + "/" + list_of_selected_seats_id).then(function (response){
            response.json().then(function(data) {
                if (data == "none"){                       
                    location.href = "/admin/showtime_theatre/payment/" + showtime_id + "/" + seat_class_id+ "/" + list_of_selected_seats_id ;
                }
                else {
                    alert("Seat(s) " + data + " have been taken. Please choose another seat(s).")
                    location.reload()
                }
            });
        });
    }
}

</script>
<script src="{{ url_for('static', filename='js/extension.js') }}"></script>

<script>
    var mybutton = document.getElementById("tothetop");
window.onscroll = function() {scrollFunction()};
	function scrollFunction() {
	if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
		mybutton.style.display = "block";
	} else {
		mybutton.style.display = "none";
	}
	}

	</script>
{% endblock %}



