{% extends "User 2/base.html" %}

{% block content %}
<style>
	.gotop #tothetop {
	  position: fixed;
	  bottom: 20px;
	  right: 30px;
	  z-index: 99;
	  font-size: 18px;
	  border: none;
	  outline: none;
	  background-color: red;
	  color: white;
	  cursor: pointer;
	  padding: 15px;
	  border-radius: 4px;
	}
	
	.gotop #tothetop:hover {
	  background-color: blue;
	}
	</style>
<!-- page title -->
<section class="section section--first section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">Privacy Policy</h2>
                    <!-- end section title -->
                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="{{ url_for('carousel.home') }}">Home</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Privacy Policy</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->
<div class="container">
    <div class="row">
        <div class="col-12 comments__text">
            <h1>Privacy Policy<h1>
            <h3>Last Updated on 28 Jan 2020</h3>
            <h4>Your privacy is very important to us. We are committed to protecting the personal data that you disclose to us in accordance with the Personal Data Protection Act 2012.<br> We will not disclose or sell your personal data to third parties for their marketing purposes without your express consent. Please read this privacy policy to learn more about the ways in which we collect, use and disclose your personal data.</h4>
            <h3 style="text-decoration:underline;"><b>Privacy Policy</b></h3>
            <h4 style="text-decoration:underline;"><b>Overview</b></h4>
            <ul>We have prepared this Privacy Policy (“Policy”) because we believe you should know as much as possible about our practices on the collection, use and disclosure of personal data so that you can make informed decisions when using this website and any mobile applications that we may make available from time to time. By visiting this website or accessing any of our mobile applications, you agree to be bound by the terms and conditions of this Policy. If you do not agree, please do not use or access this website or any of our mobile applications.</ul>
            <br>
            <h4 style="text-decoration:underline;"><b>List of Contents</b></h4>
            <ol>
        
                <li><h4><u>INFORMATION WE COLLECT</u></h4></li>
                <p>Our primary purpose in collecting personal data is to provide you with a safe, smooth, efficient, and customized experience when you use this website or any of the mobile applications. This allows us to provide services and features that most likely meet your needs, and to customize our service to make your experience safer and easier. We only collect personal data about you that we consider necessary for achieving this purpose.

                    If you choose to use the services on this website or any of the mobile applications, we may require you to provide your contact and identity information and other personal information as indicated on the relevant forms. Where possible, we will indicate which fields are mandatory and which fields are optional. You will always have the option not to provide the information requested by choosing not to use a particular service or feature.
                    
                    In some situations, we may require you to provide financial information. We use your financial information, including credit card information, to verify the accuracy of your name, address, and other information, as well as to bill you for your use of our services.</p>
            
            <li><h4><u>OUR USE OF YOUR INFORMATION</u></h4></li>
            <p>We use your personal data to facilitate the services you request. We also use your personal data with other information that we have collected from your current and past activities on the website or mobile application to: attend to your queries; troubleshoot technical problems; help promote safe online transactions; collect payments; measure consumer interest in our products and services, inform you about online and offline offers, products, services, and updates; customize your experience; detect and protect us against error, fraud and other criminal activity; and as otherwise described to you at the time of collection. At times, we may look across multiple users to identify problems or resolve disputes, and in particular we may examine your personal data to identify users using multiple User IDs or aliases. We may compare and review your personal data for errors, omissions and for accuracy.

                You agree that we may use your personal data for the aforesaid purposes, which are intended to improve our marketing and promotional efforts, analyze site usage, improve our content and product offerings, and customize our online content, layout, and services. Such use of your personal data will enable us to constantly improve our website and mobile applications and tailor them to meet your needs, so as to provide you with a smooth, efficient, safe and customized experience while using the website or mobile application.
                
                You agree that we may also use your personal data to contact you and deliver information to you that, in some cases, are targeted to your interests, such as targeted banner advertisements, administrative notices, product offerings, and communications relevant to your use of the website or mobile application.</p>
                <li><h4><u>LINKS TO OTHER WEBSITE(S)</u></h4></li>
                <p>Our website, mobile applications and online purchase confirmation emails, may contain links to other websites, whose data protection and privacy practices may differ from ours. We are not responsible for the content and privacy policies of these other companies and we encourage you to consult their privacy policies before using their websites.</p>
        </ol>
        </div>
    </div>
</div>
<div class=gotop>
	<a id="tothetop" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
		<i class="fas fa-chevron-up"></i>
	  </a>
    </div>

    <script>
        var mybutton = document.getElementById("tothetop");
        window.onscroll = function() {scrollFunction()};
            function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
            }
        
            </script>
{% endblock %}