{% extends "User 2/base.html" %}

{% block content %}
<!-- page title -->
<section class="section section--first section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">Booking</h2>
                    <!-- end section title -->

                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="{{ url_for('carousel.home') }}">Home</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Showtimes</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->

<!-- filter -->
<div class="filter">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="filter__content">
                    <div class="filter__items">
                        <!-- filter item -->
                        <div class="filter__item" id="filter__theatre">
                            <span class="filter__item-label">THEATRES:</span>

                            <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-theatre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <input type="button" id="theatres" value="All Theatres">
                                <span></span>
                            </div>                            
                            <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-theatre">  
                                <li>All Theatres</li>                             
                                {% for theatre in theatre_dict.values() %}
                                    <li>{{ theatre.get_theatre_name() }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- end filter item -->
                        <!-- filter item -->
                        <div class="filter__item" id="filter__movie">
                            <span class="filter__item-label">MOVIE:</span>
                            <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-movie" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if Movies_dict %}
                                    <input type="button" id="movies" value="All Movies">
                                {% else %}
                                    <input type="button" value="No theatres available">
                                {% endif %}
                                <span></span>
                            </div>
                            <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-movie">
                                {% if Movies_dict %}
                                    <li>All Movies</li>
                                    {% for movie_id in Movies_dict %}
                                        <li>{{ Movies_dict[movie_id].get_movie_name() }}</li>
                                    {% endfor %}
                                {% else %}
                                    <li>No theatres available</li>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- end filter item -->
                        <!-- filter item -->
                        <div class="filter__item" id="filter__genre">
                            <span class="filter__item-label">GENRE:</span>

                            <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-genre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <input type="button" id="genres" value="All Genres">
                                <span></span>
                            </div>                            
                            <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-genre">  
                                <li>All Genres</li>                             
                                {% for genre in genre_list %}
                                    <li>{{ genre[0] }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- end filter item -->
                    </div>
                    
                    <!-- filter btn -->
                    <button class="filter__btn" type="button" onclick="apply_filter()">apply filter</button>
                    <!-- end filter btn -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end filter -->

<!-- showtime -->
<div class="catalog">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div style="position: sticky;top:0;position: -webkit-sticky;">
                    <table border="1" id="{{ theatre_name }}" style="color:white;width:1110px;">
                        <thead>
                            <th style="width:300px;"><h2>Theatre Name</h2></th>
                            <th style="padding-left:40px; padding-right:40px">
                                <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                                    {% for key, value in date_dict.items() %}
                                    {% if loop.index == 1 %}
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" id="{{ key }}" role="tab" aria-controls="tab-{{ value }}" aria-selected="true" onclick="change_date(this)">{{ value[:-4] }}</a>
                                    </li>
                                    {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" id="{{ key }}" role="tab" aria-controls="tab-{{ value }}" aria-selected="false" onclick="change_date(this)">{{ value[:-4] }}</a>
                                    </li>                                    
                                    {% endif %}
                                    {% endfor %}
                                </ul>   
                            </th>
                        </thead>
                    </table>
                </div>
                {% for theatre_name, showtime_list in theatre_movie_showtime_dict.items() %}
                <table border="1" id="{{ theatre_name }}" style="color:white;width:1110px;">
                    <thead>
                        <th style="width:300px;"><h2>{{ theatre_name }} Theatre</h2></th>
                        <th style="padding-left:40px; padding-right:40px">              
                        </th>
                    </thead>
                    <tbody>                        
                        {% for showtime_class in showtime_list %}
                            {% for date in showtime_class.get_show_period() %}
                            <tr id="" class="movie_row {{ date }}">
                                <td>{{ showtime_class.get_movie_class().get_movie_name() }}<br>
                                    <small class="{{ showtime_class.get_movie_class().get_genre_list() }}">
                                        {% for genre in showtime_class.get_movie_class().get_genre_list() %}
                                        <span>{{ genre }}&nbsp;&nbsp;&nbsp;</span>
                                        {% endfor %}
                                    </small>
                                    <br>
                                    <p>Hall {{ showtime_class.get_hall_number() }}</p>
                                </td>
                                <td colspan="6">                                           
                                    {% for timeslot in showtime_class.get_timeslot() %}
                                    <form action="{{ url_for('showtime.bookmovieseats', showtime_id=showtime_class.get_id(), timeslot=timeslot) }}" method="GET" style="display: inline-block; ">
                                        <button class="filter__btn" type="submit" style="width: 110px; height: 40px; margin: 10px;"><span style="padding: 5px;">{{ timeslot }}</span s></button>                                    
                                    </form>                
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                    <hr style="margin: 45px auto 45px auto; visibility: hidden;">
                </table>
                {% endfor %}
                
            </div>
 
        </div>
    </div>
</div>
<!-- end showtime -->
<script>
function apply_filter() {
    var theatre_filter = document.getElementById("theatres").value;
    var tables = document.getElementsByTagName("table");
    if (theatre_filter != "All Theatres") {
        for (table of tables) {
            if (table.id != theatre_filter) {
                table.style.display = "None";
            } else {
                table.style.display = "";
            }
        }
    } else {
        for (table of tables) {
            table.style.display = "";
        }
    }

    var movie_filter = document.getElementById("movies").value;
    var movies = document.getElementsByClassName("movie_row");
    if (movie_filter != "All Movies") {
        for (movie of movies) {
            if (movie.id != movie_filter) {
                movie.style.display = "None";
            } else {
                movie.style.display = "";
            }
        }
    } else {
        for (movie of movies) {
            movie.style.display = "";
        }
    }

    var genre_filter = document.getElementById("genres").value;
    var movies = document.getElementsByClassName("movie_row");
    if (genre_filter != "All Genres") {
        for (movie of movies) {
            var genre_list = movie.getElementsByTagName("small")[0].getAttribute("class");
            if (genre_list.includes(genre_filter)) {
                movie.style.display = "";          
            } else {
                movie.style.display = "None";
            }
        }
    }
}

function clean_empty_theatres() {
    var theatres = document.getElementsByTagName("table");
    var contain_movies;
    for (theatre of theatres) {
        contain_movies = false;
        var movies = theatre.getElementsByTagName("tr");
        var skip_first = 1;
        for (movie of movies) {
            if (skip_first == 1) {
                skip_first = 0;
                continue;
            }
            if (movie.style.display == "") {
                contain_movies = true;
                break;
            }
        }
        if (contain_movies == false) {
            theatre.style.display = "None";
        }
    }
}

let active_date = document.getElementsByClassName("nav-link active")[0].id;
let movie_row_list = document.getElementsByClassName("movie_row");
for (var movie of movie_row_list){
    if ( ! movie.classList.contains(active_date)){
        movie.style.display = "none";
        
    }
}


function change_date(anchor) {    
    for (var movie of movie_row_list){
        if ( ! movie.classList.contains(anchor.id)){
            movie.style.display = "none";            
        }
        else {
            movie.style.display = "";
        }
    }
  }             
</script>
<script src="{{ url_for('static', filename='js/extension.js') }}"></script>
{% endblock %}






