{% extends "User 2/base.html" %}

{% block content %}
<!-- page title -->
<section class="section section--first section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">Booking</h2>
                    <!-- end section title -->

                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="{{ url_for('carousel.home') }}">Home</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Booking</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->

<!-- filter -->
<div class="filter">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="filter__content">
                    <div class="filter__items">
                        <!-- filter item -->
                        <div class="filter__item" id="filter__date">
                            <span class="filter__item-label">DATE:</span>
                            <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-date" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <input type="button" value="All Dates">
                                <span></span>
                            </div>    
                            <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-date">
                                <li>All Dates</li>
                                {% for value in date_dict.values() %}
                                    <li>{{ value }}</li>
                                {% endfor %}
                            </ul>            
                        </div>
                        <!-- end filter item -->

                        <!-- filter item -->
                        <div class="filter__item" id="filter__movie">
                            <span class="filter__item-label">MOVIE:</span>
                            <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-movie" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if Movies_dict %}
                                    <input type="button" value="All Movies">
                                {% else %}
                                    <input type="button" value="No theatres available">
                                {% endif %}
                                <span></span>
                            </div>
                            <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-movie">
                                {% if Movies_dict %}
                                    <li>All Movies</li>
                                    {% for movie_id in Movies_dict %}
                                        <li>{{ Movies_dict[movie_id].get_movie_name() }}</li>
                                    {% endfor %}
                                {% else %}
                                    <li>No theatres available</li>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- end filter item -->
                        <!-- filter item -->
                        <div class="filter__item" id="filter__genre">
                            <span class="filter__item-label">GENRE:</span>

                            <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-genre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <input type="button" value="All Genres">
                                <span></span>
                            </div>                            
                            <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-genre">  
                                <li>All Genres</li>                             
                                {% for genre in genre_list %}
                                    <li>{{ genre[0] }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- end filter item -->
                        <!-- filter item -->
                        <div class="filter__item" id="filter__genre">
                            <span class="filter__item-label">THEATRES:</span>

                            <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-theatre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <input type="button" value="All Theatres">
                                <span></span>
                            </div>                            
                            <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-theatre">  
                                <li>All Theatres</li>                             
                                {% for theatre in theatre_dict.values() %}
                                    <li>{{ theatre.get_theatre_name() }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- end filter item -->
                        <!-- filter item -->
                        <div class="filter__item" id="filter__rate">
                            <span class="filter__item-label">IMBd:</span>

                            <div class="filter__item-btn dropdown-toggle" role="button" id="filter-rate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="filter__range">
                                    <div id="filter__imbd-start"></div>
                                    <div id="filter__imbd-end"></div>
                                </div>
                                <span></span>
                            </div>

                            <div class="filter__item-menu filter__item-menu--range dropdown-menu" aria-labelledby="filter-rate">
                                <div id="filter__imbd"></div>
                            </div>
                        </div>
                        <!-- end filter item -->

                    </div>
                    
                    <!-- filter btn -->
                    <button class="filter__btn" type="button">apply filter</button>
                    <!-- end filter btn -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end filter -->

<!-- showtime -->
<div class="catalog">
    <div class="container">
        <div class="row">
            {% for key, movie in Movies_dict.items() %}
            <!-- card -->
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">                    
                    <div class="card__cover">
                        <img src="{{ url_for('static', filename='images/movie poster/' + movie.get_poster()) }}" alt="">
                    </div>
                    <div class="card__content">
                        <h3 class="card__title"><a href="{{ url_for('movie.movie_detail', movie_id=movie.get_id()) }}">{{ movie.get_movie_name() }}</a></h3>
                        <span class="card__category">
                            {% for genre in movie.get_genre_list() %}
                                <a>{{ genre }}</a>
                            {% endfor  %}
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-star"></i>{{ movie.get_rating() }}</span>
                    </div>
                </div>
            </div>
            <!-- end card -->
            {% endfor %}

            <!-- paginator -->
            <div class="col-12">
                <ul class="paginator">
                    <li class="paginator__item paginator__item--prev">
                        <a href="#"><i class="icon ion-ios-arrow-back"></i></a>
                    </li>
                    <li class="paginator__item"><a href="#">1</a></li>
                    <li class="paginator__item paginator__item--active"><a href="#">2</a></li>
                    <li class="paginator__item"><a href="#">3</a></li>
                    <li class="paginator__item"><a href="#">4</a></li>
                    <li class="paginator__item paginator__item--next">
                        <a href="#"><i class="icon ion-ios-arrow-forward"></i></a>
                    </li>
                </ul>
            </div>
            <!-- end paginator -->
        </div>
    </div>
</div>
<!-- end showtime -->
{% endblock %}