{% extends "User 2/base.html" %}
{% from "User 2/includes/_formHelper.html" import render_field %}

{% block content %}
<!-- sign in form -->
<div class="sign section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">
                    <!-- authorization form -->
                    <form action="#" class="sign__form" method="POST">
                        {{form.hidden_tag()}}
                        <a href="{{ url_for('carousel.home') }}" class="sign__logo">
                            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
                        </a>
                        <div class="sign__group">
                            {{ render_field(form.email, class="sign__input", placeholder="Email", required=False) }}
                        </div>

                        <div class="sign__group">
                            {{ render_field(form.password, class="sign__input", placeholder="Password", required=False) }}
                        </div>

                        <div class="sign__group sign__group--checkbox">                                                        
                            
                        </div>
                        
                        {{ form.login(class="sign__btn") }}                         

                        <span class="sign__text">Don't have an account? <a href="{{ url_for('user.register') }}">Sign up!</a></span>

                        <span class="sign__text"><a href="#">Forgot password?</a></span>
                    </form>
                    <!-- end authorization form -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end sign in form  -->

<div class=gotop>
	<a id="tothetop" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
		<i class="fas fa-chevron-up"></i>
	  </a>
    </div>
<script>
var mybutton = document.getElementById("tothetop");
window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
    }
</script>
{% endblock %}