{% extends "User 2/base.html" %}
{% from "User 2/includes/_formHelper.html" import render_field %}

{% block content %}
<!-- sign in form -->
<div class="sign section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">
                    <!-- authorization form -->
                    <form action="#" class="sign__form" method="POST">
                        <a href="{{ url_for('carousel.home') }}" class="sign__logo">
                            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
                        </a>
                        <div class="sign__group">
                            {{ render_field(form.email, class="sign__input", placeholder="Email", required=False) }}
                        </div>

                        <div class="sign__group">
                            {{ render_field(form.password, class="sign__input", placeholder="Password", required=False) }}
                        </div>

                        <div class="sign__group sign__group--checkbox" style="">                            
                            {{ render_field(form.rememberMe) }}
                            <label for="rememberMe">Remember Me</label>
                        </div>
                        
                        {{ form.login(class="sign__btn") }}                         

                        <span class="sign__text">Don't have an account? <a href="{{ url_for('user.register') }}">Sign up!</a></span>

                        <span class="sign__text"><a href="#">Forgot password?</a></span>
                    </form>
                    <!-- end authorization form -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end sign in form  -->
{% endblock %}