{% extends "User/base.html" %}

{% block content %}
{% from "User/includes/_formHelper.html" import render_field %}
<div class="container">
      <!--flash message ... not working atm-->
      {%with messages = get_flashed_messages(with_categories=true)%}
      {%if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{category}}">
            {{message}}
          </div>
        {% endfor %}
      {%endif%}
    {%endwith%}
    <!--flash message-->
<br>
<h1 class=" text-dark text-center  p-2">Login
</h1>
<hr class="new1" width="35%">
<form class="col-lg-4 offset-lg-4 text-left p-2">
  <div class="form-row my-1">
    <div class="col-lg-12 offset-lg">
      {{ render_field(form.Username, class="form-control") }}
    </div>
    <div class="col-lg-12 offset-lg">
      {{ render_field(form.password, class="form-control") }}
    </div>
  </div>
  <br>
      <div class="offset-lg">
        {{ form.login(class="btn btn-outline-info btn-sm") }} 
    </div>
<br>
    <div class="form-row">
      <small class="text-muted">
          Need an account?<a class="col-lg-6" href="{{url_for('user.register')}}">Register</a>
      </small>
  </div>
</form>
<hr class="new1" width="35%">
</div>
{% endblock %}
