{% extends "User/base.html" %}

{% block content %}
{% from "includes/_formhelper.html" import render_field %}
<div class="container">
<!--top border-->
<br>
<h1 class=" text-dark text-center  p-2">Registration
</h1>
<hr class="new1" width="35%">
<h2 class="text-dark text-center"><font size="4">Please fill out the form below.</font></h2>

<!--form-->
<form class="col-lg-4 offset-lg-4 text-center p-2" method="POST" action="#">
  <div class="form-row my-1">
    <div class="col-lg-6 offset-lg">
      {{ render_field(form.firstName, class="form-control") }}
    </div>
    <div class="col-lg-6 offset-lg">
        {{ render_field(form.lastName, class="form-control") }}
    </div>
  </div>
   <div class="form-row">
       <div class="col-lg-4 offset-lg">
           {{ render_field(form.gender, class="form-control") }}
       </div>
       <div class="col-lg-8 offset-lg">
           {{ render_field(form.DateofBirth, class="form-control") }}
       </div>
   </div>
    <br>
    <div class="form-row">
       <div class="col-lg-6 offset-lg">
           {{ render_field(form.Username, class="form-control") }}
       </div>
   </div>
    <div class="form-row">
       <div class="col-lg-12 offset-lg my-2">
           {{ render_field(form.email, class="form-control") }}
       </div>
   </div>
    <div class="form-row">
       <div class="col-lg-6 offset-lg">
           {{ render_field(form.password, class="form-control") }}
       </div>
        <div class="col-lg-6 offset-lg">
           {{ render_field(form.confirmpassword, class="form-control") }}
       </div>
   </div>
    <div class="form-row">
            <input type="submit" value="Submit" class="btn btn-dark  py-2 my-4 col-lg-6 offset-lg-3">
    </div>
</form>
<!--bottom border-->
<hr class="new1" width="35%">
</div>
{% endblock %}

<!--
validation for date,matching passwords,age,unique username is not working atm
Submit does not return user to the homepage
>
