{% extends "Admin/baseAdmin.html" %}
{% block styles %}
    <style>
      a {
        color:white;
      }
      a:hover{
        color:white;
      }
    </style>
  {% endblock %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Movie Theatres</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Movie Theatres</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        
        <div class="ml-auto">            
          <button type="button" class="btn btn-success">
            <a href="{{ url_for('add_movie_theatre') }}">Add Movie Theatre</a>              
          </button>
          <button type="submit" class="btn btn-danger" onclick="deleteMovieTheatre()">Delete</button>
        </div>
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">
                <td>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" onclick="selectAllTheatre(this)">                    
                  </div>
                </td>
              </th>
              <th scope="col">Id</th>
              <th scope="col">Theatre Name</th>
              <th scope="col">Image</th>                
              <th scope="col">No. Halls</th>
              <th scope="col">Modify</th>
            </tr>
          </thead>
          <tbody>
            {% for key in Movie_theatre_dict %}
            <tr>
              <td>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="{{ Movie_theatre_dict[key].get_id() }}">                    
                </div>
              </td>
              <td>
                {{ Movie_theatre_dict[key].get_id() }}
              </td>
              <td>
                {{ Movie_theatre_dict[key].get_theatre_name() }}
              </td>
              <!-- <td><img src="https://www.neshoba.org/pcdp/cache/file/774AC7F5-155D-D235-07D8165A3BAAEA42_business-photo.jpg" alt="cinema" height="90" width="150"></td> -->
              <td>
                <img src="{{ url_for('static', filename='images/theatre/' + Movie_theatre_dict[key].get_theatre_image() ) }}" alt="{{ Movie_theatre_dict[key].get_theatre_name() }} Img" width="200px">
              </td>
              <td>
                {{ Movie_theatre_dict[key].get_hall() }}
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  <a href="{{ url_for('modify_movie_theatre', movie_theatre_id=Movie_theatre_dict[key].get_id()) }}">Modify Movie Theatre</a>              
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
  </a>
</div>
<!-- /.content-wrapper -->


<!-- Modal -->
<div class="modal fade" id="addMovieModal" tabindex="-1" role="dialog" aria-labelledby="addMovieModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addMovieModal">Add Movie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="">
        {{ form.csrf_token }}
      <div class="modal-body">    
          <div class="form-group">
              <!-- <label for="theatreName">Theatre Name</label>
              <input type="text" class="form-control" id="theatreName"> -->
              {{ form.theatre_name.label(class="form-control-label") }}
              {{ form.theatre_name(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            <!-- <label for="theatreImage">Theatre Image</label>
            <input type="file" class="form-control-file" id="theatreImage"> -->
            {{ form.theatre_address.label(class="form-control-label") }}
            {{ form.theatre_address(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
              <!-- <label for="hallNumber">No. of Hall(s)</label>
              <input type="number" class="form-control" id="hallNumber" > -->
              {{ form.theatre_halls.label(class="form-control-label") }}
              {{ form.theatre_halls(class="form-control form-control-lg",min="1",max="5") }}
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeAddMovieModal">Close</button>
        <!-- <button type="button" class="btn btn-primary" onclick="addMovieTheatre()" >Add Theatre</button> -->
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </form>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="editMovieModal" tabindex="-1" role="dialog" aria-labelledby="editMovieModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editMovieModal">Edit Movie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
              <label for="editTheatreName">Theatre Name</label>
              <input type="text" class="form-control" id="editTheatreName">
          </div>
          <div class="form-group">
            <label for="editTheatreImage">Theatre Image</label>
            <input type="file" class="form-control-file" id="editTheatreImage">
          </div>
          <div class="form-group">
              <label for="editHallNumber">No. of Hall(s)</label>
              <input type="number" class="form-control" id="editHallNumber" min="1" max="5">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeEditMovieModal">Close</button>
        <button type="button" class="btn btn-primary" onclick="editMovieTheatre()" >Save Edits</button>
      </div>
    </div>
  </div>
</div> 
{% endblock %}

{% block scripts %}
<!-- delete movie theatre -->
<script>
  function delete_promotion() {
    var list_of_to_be_deleted_promotions = [];
    var list_of_checkboxes = document.getElementsByClassName("form-check-input");        
    for (var index=1;index<list_of_checkboxes.length;index++){                    
      var checkbox = list_of_checkboxes[index];                    
      if (checkbox.checked){
        list_of_to_be_deleted_promotions.push(checkbox.name);
      }          
    }        
    send_message("{{ url_for('delete_promotion') }}", list_of_to_be_deleted_promotions)
  }             
</script>
<script src="{{ url_for('static', filename='js/extension.js') }}"></script>
{% endblock %}