{% extends "Admin/baseAdmin.html" %}

{% block styles %}
{% endblock %}

<!-- Content Wrapper. Contains page content -->
{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Add Admin</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ url_for('other.admin_home') }}">Home</a></li>
            <li class="breadcrumb-item">Admin</li>
            <li class="breadcrumb-item active">Add Admin</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10">
        <form method="POST" enctype="multipart/form-data">
          {{ form.csrf_token }}
          <div class="form-group">
            {{ form.username.label(class="form-control-label") }}
            {{ form.username(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {{ form.email(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
              {{ form.administrative_rights.label(class="form-control-label") }}
              {{ form.administrative_rights(multiple=True) }}
          </div>       
          {{ form.submit(class="btn btn-primary", onclick="return confirm('Are you sure you want to add this admin account?')") }}
        </form>
      </div>
      </div>
    </div>
  </section>


  <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
  </a>
</div>
{% endblock %}
<!-- /.content-wrapper -->

{% block scripts %}
<script src="{{ url_for('static', filename='js/extension.js') }}"></script>
  <script>
    setTimeout(function() {
      new SlimSelect({
        select: '#administrative_rights'
      })
    }, 700)
  </script>
{% endblock %}