{% extends "Admin/baseAdmin.html" %}
<!-- Content Wrapper. Contains page content -->
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Admins</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ url_for('other.admin_home') }}" class="homeButton">Home</a></li>
            <li class="breadcrumb-item active">Admins</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">

          <div class="ml-auto d-flex flex-row">
            <form action="{{ url_for('user.add_admin') }}" method="GET" class="ml-auto">            
            <button type="submit" class="btn btn-success">
              Add Admin
            </button>
          </form>
          <p>&nbsp&nbsp</p>
            <button type="submit" class="btn btn-danger"onclick="delete_admin()">Delete</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-striped">
            <thead>
              <tr>
                <td>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" onclick="select_all(this)">                    
                    </div>
                  </td>
                <th scope="col">No.</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Administrative Rights</th>             
                <th scope="col">Modify</th>
              </tr>
            </thead>
            <tbody>
              {% for key in Admin_dict %}
              {% if Admin_dict[key].get_id()[0] == "U" %}
              {% else %}
              <tr>
                <td>
                    {% if Admin_dict[key].get_id() == "A0" %}                    
                    {% else %}
                    <div class="form-check">

                      <input type="checkbox" class="form-check-input" name="{{ Admin_dict[key].get_id() }}">                    
                    </div>
                    {% endif %}
                  </td>
                <td>
                    {{ Admin_dict[key].get_id() }}
                </td>
                <td>
                  {{ Admin_dict[key].get_username() }}
                </td>
                <td>
                  {{ Admin_dict[key].get_email() }}
                </td>
                <td>                  
                  <ul>
                    {% for admin_rights in Admin_dict[key].get_administrative_rights() %}
                      <li>{{ admin_rights }}</li>
                    {% endfor %}
                  </ul>
                </td>              
                <td>
                  {% if Admin_dict[key].get_id() == "A0" %}          
                  <form action="{{ url_for('user.modify_admin', admin_id= Admin_dict[key].get_id()) }}" method="GET">
                    <button type="submit" class="btn btn-primary" disabled>
                      Modify Admin
                    </button>
                  </form>          
                    {% else %}
                  <form action="{{ url_for('user.modify_admin', admin_id= Admin_dict[key].get_id()) }}" method="GET">
                    <button type="submit" class="btn btn-primary">
                      Modify Admin
                    </button>
                  </form>
                    {% endif %}
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </section>


  <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
  </a>
</div>
{% endblock %}
<!-- /.content-wrapper -->

{% block scripts %}
  <script>
    function delete_admin() {
      confirm("Are you sure you want to delete these few admin accounts?")
      var list_of_to_be_deleted_admins = [];
      var list_of_checkboxes = document.getElementsByClassName("form-check-input");        
      for (var index=1;index<list_of_checkboxes.length;index++){                    
        var checkbox = list_of_checkboxes[index];                    
        if (checkbox.checked){
          list_of_to_be_deleted_admins.push(checkbox.name);
        }          
      }        
      send_message("{{ url_for('user.delete_admin') }}", list_of_to_be_deleted_admins)
    }             
  </script>
  <script src="{{ url_for('static', filename='js/extension.js') }}"></script>
{% endblock %}