{% extends "Admin/baseAdmin.html" %}
<!-- Content Wrapper. Contains page content -->
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>My Account</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ url_for('other.admin_home') }}" class="homeButton">Home</a></li>
            <li class="breadcrumb-item active">My Account</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content-header">
    <div class="container-fluid">  
      <div class="row">
        <div class="col-6">
          <form action="" method="POST">
            {{ form.crsf_token }}
            <div class="form-row d-flex align-items-end">
                <div class="form-col image">
                    <img src="{{ url_for('static', filename='images/admin_profile_pictures/' + current_user.get_profile_picture()) }}" class="img-circle elevation-2" alt="User Image" height="160" width="160">
                </div>            
                <div class="form-col ml-2">
                    {{ form.profile_picture.label(class="form-control-label") }}                    
                    {{ render_field(form.profile_picture, class="form-control-file", required=False) }}
                </div>
            </div>
            <div class="form-group col-8 mt-2">
                {{ form.username.label(class="form-control-label") }}
                {{ render_field(form.username, class="form-control", required=False) }}
            </div>
            <div class="form-group col-8">              
              <label for="#email" class="form-control-label">Email</label>
              <input type="email" class="form-control" disabled value="{{ current_user.get_email() }}">
            </div>
            <div class="form-group col-8">
              {{ form.new_password.label(class="form-control-label") }}
              {{ render_field(form.new_password, class="form-control") }}
            </div>
            <div class="form-group col-8">
              {{ form.confirm_password.label(class="form-control-label") }}
              {{ render_field(form.confirm_password, class="form-control") }}
            </div>
            &nbsp&nbsp{{ form.submit(class="btn btn-primary" , onclick="return confirm('Are you sure you want to proceed?')") }}
          </form>
        </div>
      </div>
    </div>
  </section>


  <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
  </a>
</div>
{% endblock %}
<!-- /.content-wrapper -->
