{% extends "Admin/baseAdmin.html" %}
  
<!-- Content Wrapper. Contains page content -->
{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Modify Promotion</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ url_for('other.admin_home') }}">Home</a></li>
            <li class="breadcrumb-item">Promotion</li>
            <li class="breadcrumb-item active">Modify Promotion</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <form action="{{url_for('promotion.admin_promotion')}}" method="GET">
            <button class="btn btn-primary" type="submit" style="float: right; clear: both;">Cancel</button>
          </form>
          <br>
          <form method="POST" enctype="multipart/form-data">
              {{ form.csrf_token }}                 
              <div class="form-group">
                {{ form.promotion_title.label(class="form-control-label") }}
                {{ render_field(form.promotion_title , class="form-control form-control-lg", required=False) }}
              </div>
              <div class="form-group">
                {{ form.promotion_description.label(class="form-control-label") }}
                {{ render_field(form.promotion_description , class="form-control form-control-lg",id="promotion-description", required=False) }}
              </div>
              <div class="form-row">
                <div class="form-group col">
                  {{ form.promotion_valid_start_date.label(class="form-control-label") }}
                  {{ render_field(form.promotion_valid_start_date , class="form-control form-control-lg" , type="date", required=False) }}
                </div>
                <div class="form-group col">
                  {{ form.promotion_valid_end_date.label(class="form-control-label") }}
                  {{ render_field(form.promotion_valid_end_date , class="form-control form-control-lg", type="date", required=False) }}
                </div>                
              </div>
              <div class="form-group">
                {{ form.promotion_applicable_to.label(class="form-control-label") }}
                {{ render_field(form.promotion_applicable_to , class="form-control form-control-lg") }}
              </div>
              <div class="form-group">
                {{ form.promotion_terms_and_condition.label(class="form-control-label") }}
                {{ render_field(form.promotion_terms_and_condition , class="form-control form-control-lg", required=False) }}
              </div>
              <div class="form-group">
                {{ form.promotion_promoPrice.label(class="form-control-label") }}
                {{ render_field(form.promotion_promoPrice , class="form-control form-control-lg", required=False, type="number") }}
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <img src="{{ url_for('static', filename='images/promotion/' + image_source ) }}" alt="Img" width="200px">
                </div>
                <div class="form-group col">            
                  {{ form.promotion_image.label(class="form-control-label") }}
                  {{ render_field(form.promotion_image , class="form-control-file", required=False) }}
                </div>                
              </div>
              {{ form.submit(class="btn btn-primary" , onclick='confirm("Do you want to proceed to save the change(s) ?")') }}
          </form>
        </div>
      </div>
    </div>
  </section>


  <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
  </a>
</div>

{% endblock %}
<!-- /.content-wrapper -->