  {% extends "Admin/baseAdmin.html" %}
  
  {% block links %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
  {% endblock %}

  <!-- Content Wrapper. Contains page content -->
  {% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Promotion</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ url_for('other.admin_home') }}"class="homeButton">Home</a></li>
              <li class="breadcrumb-item active">Promotion & Events</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
            <!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addPromoModal">
              Add Promotion
            </button> -->

            <div class="ml-auto d-flex flex-row">
             <form action="{{ url_for('promotion.add_promotion') }}" method="GET" class="ml-auto">
            <button type="submit" class="btn btn-success">
            Add Promotion              
            </button>
          </form>
          <p>&nbsp&nbsp</p>

            <button type="submit" class="btn btn-danger"onclick="delete_promotion()">Delete</button>
          </div>
        </div>
        <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <td>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" onclick="select_all(this)">
                  </div>
                </td>
                <th scope="col">Id</th>
                <th scope="col">Promotion Title</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                <th scope="col">Valid Period</th>
                <th scope="col">Apply to</th>
                <th scope="col">Terms And Conditions</th>
                <th scope="col">Modify Promotion</th>
              </tr>
            </thead>
            <tbody>              
              {% for key in Promotion_dict %}
                <tr>
                  <td>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" name="{{ Promotion_dict[key].get_id() }}">
                    </div>
                  </td>
                  <td>
                    {{ Promotion_dict[key].get_id() }}
                  </td>
                  <td>
                    {{ Promotion_dict[key].get_title() }}
                  </td>
                  <td>
                    <img src="{{ url_for('static', filename='images/promotion/' + Promotion_dict[key].get_promotion_image() ) }}" alt="{{ Promotion_dict[key].get_title() }} Img" width="200px">
                  </td>
                  <td>
                    {{ Promotion_dict[key].get_description() }}
                  </td>
                  <td>
                    {{ Promotion_dict[key].get_valid_period() }}
                  </td>
                  <td>
                    {{ Promotion_dict[key].get_applicable_to() }}
                  </td>
                  <td>
                    <ul>
                      {% for terms in Promotion_dict[key].get_terms_and_conditions() %}
                        <li>{{ terms }}</li>
                      {% endfor %}
                    </ul>
                  </td>
                  <td>
                    <div class="ml-auto d-flex flex-row">
                      <form action="{{ url_for('promotion.modify_promotion', promotion_id=Promotion_dict[key].get_id()) }}" method="GET">
                        <button type="submit" class="btn btn-primary">
                          Modify Promotion
                        </button>
                      </form>
                    </div>
                    <!-- <button type="button" class="btn btn-primary">
                      <a href="{{ url_for('promotion.modify_promotion', promotion_id=Promotion_dict[key].get_id()) }}">Modify Promotion</a>              
                    </button> -->
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
      <i class="fas fa-chevron-up"></i>
    </a>
  </div>  
  {% endblock %}
  <!-- /.content-wrapper -->

  {% block scripts %}
    <script>
      function delete_promotion() {
        confirm("Are you sure you want to delete these few promotion(s)?")
        var list_of_to_be_deleted_promotions = [];
        var list_of_checkboxes = document.getElementsByClassName("form-check-input");        
        for (var index=1;index<list_of_checkboxes.length;index++){                    
          var checkbox = list_of_checkboxes[index];                    
          if (checkbox.checked){
            list_of_to_be_deleted_promotions.push(checkbox.name);
          }          
        }        
        send_message("{{ url_for('promotion.delete_promotion') }}", list_of_to_be_deleted_promotions)
      }             
    </script>
    <script src="{{ url_for('static', filename='js/extension.js') }}"></script>
  {% endblock %}